<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aperiam pariatur quidem optio
      corporis perferendis, sit commodi laboriosam inventore cum unde, quo itaque aliquam
      consequatur? Quisquam sit dolores earum quidem.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aperiam pariatur quidem optio
      corporis perferendis, sit commodi laboriosam inventore cum unde, quo itaque aliquam
      consequatur? Quisquam sit dolores earum quidem.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aperiam pariatur quidem optio
      corporis perferendis, sit commodi laboriosam inventore cum unde, quo itaque aliquam
      consequatur? Quisquam sit dolores earum quidem.
    </p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>

</html>